In [2]:
import pandas as pd
import numpy as np
import tensorflow as tf
import matplotlib.pyplot as plt
import seaborn as sb

In [3]:
data = [1,2,11,33,224,5,33,6,77,3,7,6695,55,45,344,34,23,24,25,26,46,47,45,48,48,39,2,22,77,6,333,66]
n = len(data)
n

32

###To Find the outliers Using Z-score (SND)

In [4]:
outlier = []
def outlier_zscore(data):
  thershold = 3

  u = np.mean(data)
  sig = np.std(data)

  for x in data :
    z = (abs(x-u))/sig

    if z > thershold :
      outlier.append(x)

  return outlier

In [5]:
outliers = outlier_zscore(data)
outliers

[6695]

###Finding Outliers using IQR (Inter Quantile Range)

In [7]:
outlier = []
def outlier_iqr(data):
  d = sorted(data)
  q1,q3 = np.percentile(d,[25,75])
  print(q1,q3)

  q = (q3 - q1) 

  lower_bound = q1 - (1.5*q)
  upper_bound = q3 + (1.5*q) 

  print(lower_bound,upper_bound)

  for x in d:
    if x < lower_bound or x > upper_bound :
      outlier.append(x)
    
  return outlier

In [ ]:
outliers_iqr = outlier_iqr(data)
outliers_iqr

10.0 49.75
-49.625 109.375

[224, 333, 344, 6695, 224, 333, 344, 6695]